/* style general
----------------*/
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format(truetype);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    padding: 30px;
}

html {
    font-size: 20px;
}

.top {
    margin: 0 auto;
    text-align: center;
}

.title {    
    font: 500 40px/48.76px "Montserrat", sans-serif;
    color: #E31E24;
    text-align: center;
}

.blue {
    font: 700 40px/48.76px "Montserrat", sans-serif;
    color: #2753A2;
}

.title-text {
    width: 773px;
    height: 62px;
    font: 500 26px/31.2px "Montserrat", sans-serif;
    display: inline-block;
}

.block {
    font-size: 16px;
    max-width: 1220px;
    height: 669px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.block-neck {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.img-neck {
    margin: 50px 155px 34px;
}

.title-neck {
    font: 500 1.625em/1.98em "Montserrat", sans-serif;
    color: #2753A2;
    text-align: center;
}

.text-neck {
    font: 500 1.25em/1.75em "Montserrat", sans-serif;
    color: #222222;
    text-align: center;
    margin: 0.625em 1.25em 5.375em;
}

.block-chest {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.img-chest {
    margin: 50px 155px 34px;
}

.title-chest {
    font: 500 1.3rem/1.5845rem "Montserrat", sans-serif;
    color: #2753A2;
    text-align: center;
}

.text-chest {
    font: 500 1rem/1.4rem "Montserrat", sans-serif;
    color: #222222;
    text-align: center;
    margin: 0.5rem 1rem 3rem;
}

.block-loins {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.img-loins {
    margin: 50px 155px 34px;
}

.title-loins {
    font: 500 26px/31.69px "Montserrat", sans-serif;
    color: #2753A2;
    text-align: center;
}

.text-loins {
    font: 500 20px/28px "Montserrat", sans-serif;
    color: #222222;
    text-align: center;
    margin: 10px 20px 60px;
}