/* style general
----------------*/
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf) format(truetype);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.block {
    width: 1280px;
    height: 668px;
    background: #F2F8F6;
    display: inline-flex;

}
.left {
    width: 50%;
    margin-right: 40px;
}
.cube-1 {
    width: 446.67px;
    height: 437.32px;
    border-radius: 2px;
    background-color: #FFFFFF;    
    top: 67.28px;
    left: 160px;
    position: relative;
}

.cube-2 {
    width: 446.67px;
    height: 437.32px;
    border-radius: 2px;
    top: 115.34px;
    left: 193.33px;
    position: absolute;
    box-sizing: border-box;
    border: 20px solid #3D8455;
}

.img-flower {
    width: 222.67px;
    height: 576.69px;   
    top: 30.76px;
    left: 305.33px;
    position: absolute;
}

.right {
    width: 50%;
    margin: auto;
}

.str-1 {
   font: 500 50px/58.59px "Roboto", sans-serif; 
}

.str-2 {
    font: 400 20px/28px "Roboto", sans-serif;
    margin: 20px 0;
}

li {
    font: 500 20px/28px "Roboto", sans-serif;
    list-style-type: none; 
}

li::before {
    content: url(../img/icon.png);
}

.button {
    border-radius: 2px;
    margin-top: 42px;
}

button {
    background-color: #408858;
    font: 500 20px/24px "Roboto", sans-serif;
    color: #FFFFFF;   
    padding: 17px 33.45px 17.6px 52px;
    text-transform: uppercase;
}