/* style general
----------------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    }

h2 {
    font-size: 28px;
    line-height: 42px;
    font-weight: 400;
    position: relative;

}

h2::after {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url(../.img/icon.png);
    position: absolute;
    top: 5px;

}

p.title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}


.block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.block-1 {
    padding: 30px 50px 0 0;
}

.block-2 {
    padding: 30px 0 0 10px;
}

div.block-2>span {    
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    position: relative;
}

span.str-1::before {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url(../.img/icon1.png);
    position: absolute;
    top: 5px;
    left: -65px;
}

span.str-2::before {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url(../.img/icon2.png);
    position: absolute;
    top: 5px;
    left: -65px;
}

span.str-3::before {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url(../.img/icon3.png);
    position: absolute;
    top: 5px;
    left: -65px;
}

span.str-4::before {
    content: "";
    width: 50px;
    height: 50px;
    display: inline-block;
    background-image: url(../.img/icon4.png);
    position: absolute;
    top: 5px;
    left: -65px;
}

p.str {
    padding: 10px 0 28px 0;
}

